* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

        /* ----------- Navbar laterale ----------- */

.side-navbar {
    width: 230px;
    height: calc(100% - 100px);
    padding-left: 12px;
    overflow-y: auto;
    /* Remove */
    border: 1px solid red;
}

.icon > img {
    width: 10%;
    filter: invert();
    vertical-align: bottom;
}

        /* ----------- Call to action ----------- */

.cta {
    width: calc(100% - 230px);
    height: 80px;
    text-align: right;

    /* Remove */
    border: 1px solid blue;
}

.cta > button {
    padding: 10px;
    display: inline-block;
    margin: 20px;
    vertical-align: middle;
}



  
        /* ----------- Main -----------  */

.main-container {
    width: calc(100% - 230px);
    height: calc(100vh - 180px);
    overflow-y: auto;

    /* Remove */
    border: 1px solid violet;
}

/* Top */

.main-navbar {
    width: 100%;
    text-align: center;
}

.navbar-options li {
    display: inline-block;
    padding: 10px;
}

/* Options section */

.main-section {
    width: 100%;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 6);
}

.option-image-container {
    width: 80%;
    
}

.option-image-container img {
    width: 100%;
}

        /*  ----------- Footer -----------  */

.footer-content {
    width: 100%;
    height: 100px;

    /* Remove */
    border: 1px solid green;
}

.footer-content-container {
    height: 100%;
}

/* LEFT */

.footer-content-left {
    width: 20%;
    height: 100%;
    align-items: center;
    /* justify-content: ? ; */
}

.footer-image-container {
    width: 70px;
    height: 70px;
}

.footer-content-left img {
    width: 100%;
}

/* CENTER */

.footer-content-center {
    width: 60%;
}

.footer-center-top,
.footer-center-bottom {
    height: 50%;
    justify-content: center;
    align-items: center;
}

.playbar {
    width: 35%;
    height: 3px;
    background-color: grey;
}

/* RIGHT */

.footer-content-right {
    width: 20%;
    align-items: center;
}

        /* ----------- Regole generali ----------- */

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.flex {
    display: flex;
}

        /* ----------- ID ----------- */

/*  Navbar laterale  */

#logo {
   height: 80px;
}

#logo img {
    filter: invert();
    width: 65%;
    padding: 20px 0;
}

/*  Footer  */

.footer-song-title {
    flex-direction: column;
}